.App {
  text-align: center;
}

.column {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.block {
  width: 50px;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}